
.my-back-to-top svg circle[stroke]:last-of-type {
    stroke: rgb(77, 54, 240) !important;
}


.my-back-to-top svg circle[stroke]:first-of-type {
    stroke: rgb(223, 220, 220) !important;
}


.my-back-to-top svg circle[fill] {
    fill: transparent !important;
}